@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "B612 Mono", monospace;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0e1111;
  color:#ffff;
  font-size: 1.2em;
}
#root{
  width: 100%;
  height: 100%;
}
nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#232b2b ;
}
nav .others{
  display: flex;
  gap: 20px;
}
a{
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}
a:hover{
  background-color: #ffff;
  color: #0e1111;
}
.page{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 2em;
  letter-spacing: 1px;
  height: 200px;
  width: 200px;
  font-weight: 400;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: .5s ease;
}
h1:hover{
  background-color: #ffff;
  color: #0e1111;
}
.count{
  padding: 0px 15px;
}
button{
  all:unset;
  padding: 6px;
  font-size: .5em;
  cursor: pointer;
}